 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #292d33, #293332);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 162px;
}

.u-section-1 .u-group-elements-1 {
  width: 195px;
  min-height: 116px;
  height: auto;
  margin: 23px 0 0 auto;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 0;
  left: auto;
  height: 116px;
  transform-origin: center top;
  right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 69px;
  height: 69px;
  margin: -93px auto 47px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 961px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 61px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 2px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 0 0 2px;
}

.u-section-2 .u-btn-1 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --radius: 50px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  margin: 17px 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 632px;
  background-image: none;
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  height: 602px;
  object-position: 38.13% 50%;
  width: 463px;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 521px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    --radius: 12px;
    border-style: solid;
    margin-top: 29px;
    padding: 10px 20px 10px 19px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 689px;
    --bottom-right-radius: 50px;
    --bottom-left-radius: 50px;
  }

  .u-section-2 .u-image-1 {
    height: 579px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 679px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-2 .u-image-1 {
    height: 424px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 792px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 735px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-2 .u-image-1 {
    height: 452px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1 {
  border-color: transparent !important;
}